/*------------- Sprint 2: Excercici 4 ---------------*/ 

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: auto;
}
.background-img {
    display: flex;
    flex-direction: column;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 410px;
    position: relative;
}
.contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.opciones {
    display: flex;
    justify-content: space-around;
    width: 60%;   
}
a {
    text-decoration: none;
    color:grey;
}
a:hover {
    font-size: 16pt;
}
p a i {
    padding: 10px;
}
.social-media {
    display: flex;
    gap: 20px;
}
.comentario {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(101, 95, 95, 0.25);
    width: 80%;
    padding: 20px 20px 35px 20px;
    margin-top: 172px;
    
}
.comentario h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 20pt;
    color: rgba(250, 128, 114, 0.7);
}
/*------------- Sprint 2: Excercici 5 ---------------*/ 

.contendor-articulos {
    display: flex;
    background-color: rgb(216,215,215);
    padding: 10px;
    margin-top: 10px;
    
}
.cultura {
    background-color: rgb(245,241,241);
    padding: 10px;
    margin: 5px;
}
.titulo-cultura {
    background-color: salmon;
    font-size: 14pt;
    font-weight: 500;
    color: white;
    width: 39%;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 1px 0px 0px 4px;
    
}
.contenedor-foto {
    display: flex;
    align-items:flex-end;
}
.foto {
    color: rgb(225, 225, 143);
    padding: 1px 10px;
    position: absolute;
}
.articulo {
    height: 20%;
}
.articulo p {
    padding: 6px;
    width: 39%;
    column-count: 2;
    color: grey;
    line-height: 1.2;
}