/*------  Sprint 1: ---------
---- Nivell 1: Exercici 1 ---- */

body {
    max-width: 1200px;
    margin: auto;
}
.black {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.blue {
    display: flex;
    justify-content:space-around;
    background-color: rgb(20, 20, 110);
    padding: 10px;
    margin: 10px;
    align-items: center;
}
.orange {
    display: flex;
    justify-content:space-around;
    background-color: rgba(222, 100, 25, 0.932);
    padding: 10px;
    margin: 10px;
    align-items: center;
}
.red1, .red2, .red3 {
    background-color: rgb(210, 77, 77);
    padding: 10px;
    margin: 10px;
    
}
.red1 {
    width: 10%;
}
.red2 {
    width: 74%;
}
.red3 {
    width: 10%;
}
.yellow {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.black2 {
    display: flex;
    background-color: black;
    margin: 10px;
    padding: 10px;
}
.blue2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(71, 71, 100);
    padding: 10px;
    padding-left: 3px;
    padding-right: 12px;
    margin: 10px;
    width: 60%;
}
.conteinerblue {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
}
.inblue1, .inblue2 {
    background-color: rgb(215, 69, 12);
    width: 50%;
    padding:10px;
    margin: 10px;
}
.inblue3, .inblue4 {
    background-color: #dbb47a;
    width: 50%;
    padding:10px;
    margin: 10px;
} 
.inblue5 {
    background-color: rgb(63, 63, 166);
    width: 92%;
    align-self: center;
    margin: 10px;
    padding: 10px;
    
}
.burdox {
    display: flex;
    flex-direction: column;
    background-color: rgba(205, 13, 13, 0.932);
    padding: 10px;
    margin: 10px;
    align-items: center;
    width: 35%;

}
.yellow2 {
    background-color: yellow;
    width: 90%;
    padding: 10px;
    margin: 10px 10px 5px ;
}
.black3 {
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.yellow3 {
    background-color: rgba(219, 202, 73, 0.932);
    padding: 10px;
    margin: 10px;
}

/*------  Sprint 1: ---------
---- Nivell 1: Exercici 2 ---- */
@media (max-width: 950px) {
    .conteinerblue {
        padding-left: 10px;
        padding-right: 5px;
    }
    .inblue5 {
        width: 90%;
        padding-right: 5px;
        margin-left: 15px;
    }
}
@media (max-width: 768px) {
    .black2 {
        background-color: yellow;
        align-items: center;
        flex-direction: column;
    }
    .blue2 {
        width: 95%; 
    }
    .burdox {
        width: 95%;
    }
}

/*------  Sprint 1: ---------
---- Nivell 1: Exercici 3 ---- */

@media (max-width: 412px){
    .black {
        padding: 20px;
    }
    .blue {
        flex-direction: column;
        padding: 25px;
   }
   .red1, .red2, .red3 {
        width: 90%;
   }
   .orange {
        justify-content: space-around;
        padding: 20px;      
    }

   .black2 {
        padding: 20px;
        margin: 10px;
   }
   
    .conteinerblue {
        flex-direction: column;
        align-items: center;
    }
    .inblue1, .inblue2 {
        
        width: 80%;
    }
    .inblue3, .inblue4 {

        width: 80%;
    }
    .inblue5 {
        
        width: 80%;
    }
    .black3 {
        padding: 20px;
    }
    .yellow3 {
        width: 90%;
    }
    
    
}
